.container
    .jumbotron
        .row(ng-show='identity.isAuthenticated()')
            h2(style='margin-bottom: 70px') Welcome,&nbsp
              a(href='#/profile') {{identity.currentUser.username}}!



        h2(style='color:purple') Latest Products

        table.table.table-striped
            thead
                tr
                    td Product Name
                    td Product Date

            tbody
                tr(ng-repeat="product in products")
                    td
                        a(href="#/product/{{product._id}}") {{ product.name }}
                    td {{ product.date | date : 'dd.MM.yyyy H:mm:ss' }}
