.container

    h1 All Users
    hr

    table.table.table-striped
        thead
            tr
                td User Name
                td Last Log
        tbody
            tr(ng-repeat="user in users" ng-show="user.roles.indexOf('admin')" )
                td
                    a(href="#/user-details/{{user._id}}") {{ user.username}}
                td {{ user.lastLog | date: 'dd.MM.yyyy hh:mm:ss' }}
